@font-face {
  font-family: openSans;
  src: url("../../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

html {
  background: rgb(153, 51, 255);
  background: linear-gradient(
    45deg,
    rgba(153, 51, 255, 1) 0%,
    rgba(255, 249, 170, 1) 100%
  );
  height: 100%;
}

.home {
  max-width: 1132px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @media (min-width: 1132px) {
    padding: 0 var(--space--large);
  }
}

.header {
  display: flex;
  font-size: var(--font-size-h1);
  align-items: center;
  font-family: "openSans";
  font-weight: 800;
}

.image-header {
  width: 55.88px;
  height: 61.75px;
  margin-right: 14.12px;
}

.browserBox {
  margin: 30px 0;
  background-color: aliceblue;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.title-h1 {
  font-size: 30px;
}
.browserInput {
  width: calc(100% - 70px);
  background-color: transparent;
  border: unset;
  padding: 16px 24px;
}
.browserImage {
  border: unset;
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: linear-gradient(
    135deg,
    rgba(255, 243, 92, 0.77),
    rgba(0, 204, 255, 0.46),
    rgba(0, 255, 153, 0.37)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.container-gifs {
  width: 100%;
}
.list-gifs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}
